<head>
<title>Add Artcle</title>
  <link rel="stylesheet" href="css/newArticle.css" />
</head>
<body>
    <form>
        <input id="name" type="text" placeholder="Name" />
        <input id="type" type="text" max="100" placeholder="subject" />
        <input id="content" type="text" placeholder="content" />
      </form>
    
      <button id="submit">Submit</button>
      <button id="cancel">Cancel</button>
      <button id="backNew">Back</button>
    
      <script src="js/jquery-3.5.1.min.js"></script>
<script>

$('#submit').click(function() {
      let document = {
        type: $('#type').val(),
        name: $('#name').val(),
        content: $('#content').val()
      };
 
if(document.type&&document.name&&document.content){
      $.ajax({
        type: 'POST',
        url: '/newArticle',
        data: document,
        success: response => {
          console.log(response);
        },
        error: response => {
          console.log(response);
        }

      });
     alert('Article '+name+' is added to the database')
    }
    else{
      alert('Missing input data.')
    }

    });



$('#cancel').click(function () {
        $('#name').val("");
        $('#type').val("");
        $('#content').val("");
    });


$('#backNew').click(function () {
  window.location.replace('/')
    });



</script>

</body>